/* General */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

#contenedor {
    width: 700px;
    margin: 0 auto;
    border: 1px solid black;
    overflow: hidden;
}

/* Cabecera */
#cabecera {
    background-image: url('banner.png');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    border: 1px solid black;
    height: 200px;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    color: white; /* Para que el texto resalte */
    text-shadow: 2px 2px 4px black; /* Sombrado para mejor lectura */
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Menú */
#menu {
    float: left;
    width: 150px;
    background-color: #eeeeee;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 10px;
}

#menu ul {
    list-style-type: disc;
    padding-left: 20px;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu a {
    text-decoration: none;
    color: black;
}

/* Contenido */
#contenido {
    float: left;
    width: 550px;
    border: 1px solid black;
    box-sizing: border-box;
    padding: 20px;
}

.resaltado-amarillo {
    background-color: yellow;
}

.resaltado-verde {
    background-color: lightgreen;
}

.resaltado-celeste {
    background-color: lightblue;
}

.texto-rojo {
    color: red;
}

/* Pie */
#pie {
    clear: both;
    background-color: #cccccc;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
    margin-top: 10px;
}
