#contenedor {
    width: 700px;
    border: 1px solid black;
    overflow: hidden;
}

#cabecera {
    background-color: #eeeeee;
    border: 1px solid black;
    height: 100px;
    text-align: center;
    padding: 20px;
    box-sizing: border-box;
}

#menu {
    display: none;
}

#contenido {
    width: 700px;
    border: 1px solid black;
    box-sizing: border-box;
}

#pie {
    clear: both;
    background-color: #eeeeee;
    border: 1px solid black;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}
